.container {
  width: 110px;
  height: 740px;
  border: 1px solid #00000018;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home {
  width: 110px;
  height: 88px;
  border-radius: 5px;
  background-color: rgba(37, 149, 190, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeText {
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.44px;
  color: #0d4bb6;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.44px;
}
